.profile {
    .card {
      max-width: 700px;
      display: flex;
      justify-content: flex-start;
  
      padding: 1rem 0;
  
      span.profile-photo {
        text-align: center;
      }

      span.profile-photo-2 {
        scale: 1.0;
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 150px;
        text-align: center;
      }
  
      img {
        width: 100%;
        max-width: 350px;
        padding-right: 1rem;
        padding-left: 1rem;
      }
      span.profile-data { 
      }
      span.profile-data > * {
        border-top: 1px solid #ccc;
        padding: 5px 0;
      }
    }
  }
  
  @media screen and (max-width: 600px) {
    span.profile-photo {
      margin: auto;
    }
  }

  @media screen and (max-width: 600px) {
    span.profile-photo-2 {
      margin: auto;
    }
  }

